body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50rem 6rem 40rem 15rem;
    grid-template-areas:
                          "cabecera cabecera cabecera"
                          "nav nav nav"
                          "main main main" 
                        "pie pie pie "                         ;
    
    
}



.cabecera{
   
    grid-area: cabecera;
    position: relative;
}
.navbar{
    grid-area: nav;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: 6rem;
}
.main{
    grid-area:main;  
}


.pie{
background-color: greenyellow;
grid-area: pie;
}

.header{
    position: relative;
}
header img{
    min-height: 100%;
    width:100%;
    object-fit: cover;
    transition: all 0.3s ease;
    
}
header .titulo{ 
    color: white;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: 40%;
    left: 30%;
    
    
    
}
header .titulo h1{
    color: whitesmoke;
    font-size: 4.5rem;
}

header .titulo h3{
    font-size: 1.5rem;
}
button{
    color: white;
    width:150px ;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(228, 69, 96);
    border:none;
    border-radius: 8px;
    transition: transform 0.5s;
}

button:hover{
    background-color:rgb(214, 27, 58) ;
    cursor: pointer;
}
button:active {
    transform: scale(1.1); 
    border: 1px solid yellow;
}
button p{
    font-size: 0.9rem;
    
}

button img{
    height: 22px;
    width: 20px;
    min-width: 10px;
}


/*EMPEZAMOS A HACE REL NAVBAR*/
.navbar .caja1 a{
    text-decoration: none;
    
    font-weight: 600;
    padding: 0 20px;
    color: rgb(53, 50, 50);
}
.navbar .caja1 a:hover{
    color:  rgb(228, 69, 96);
}
.navbar .caja1{
    height: 6rem;
    width: auto;
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 9999;
}



.middle img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 5px solid #ffffff;
    transition: opacity 0.5s ease;
}


/*MAIN content*/



.container-medio{
    display: grid;
    height: 40rem;
    width: 100%;
    grid-template-columns:repeat(auto-fill,minmax(38rem,1fr));
    font-family: 'Bebas Neue', sans-serif;
}
.mainContent{
 height: 40rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border: 0.1px groove rgb(224, 224, 224);

}
.greyLetra{
color: rgb(78, 75, 75);
text-transform: lowercase;
}
.mainContent *{
    margin: 10px auto;
    width: 80%;
}


.botonDescarga{
    color: red;
    background-color: white; 
    border: 1px solid red;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    
}
.botonDescarga:hover{
    background-color: rgb(212, 63, 63);
    color: white;
}

.redesSociales{
    display: flex;
    align-content: space-between;
    width: 20%;
    
}


    

span.resaltado {
    border-bottom: 2px solid red; /* Puedes ajustar el grosor y el color según tus preferencias */
  }


.secPage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 40rem;
    width:100vw;
  }

  .seccion-resumen{
   width: 50%;
   height: 40rem;
    box-sizing: border-box;
   padding:70px;
   line-height: 30px;
   border:0.1px groove rgb(224, 224, 224); 
   font-family: 'Bebas Neue', sans-serif;
   
  
  }


.pie {
    background-color: #242222;
    padding: 20px 0;
    text-align: center;
    color: #a0a0a0;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 40px;
}



.pie a {
    color: #007bff;
    text-decoration: none;
}

.pie a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1220px) {
    .seccion-resumen {
      width: 100%;
      padding: 10px; /* Ajusta según tus necesidades para pantallas más pequeñas */
      box-sizing: border-box;
      height: 30rem;
      min-width: 390px;
    }
    .secPage{
        height: 60rem;
    }
    .container{
        grid-template-rows: 50rem 6rem 60rem 15rem;
        box-sizing: border-box;
        
    }
    .pie{
        min-width: 390px; ;
    }
  }

  @media screen and (max-width: 915px) {
    .seccion-resumen {
      width: 100%;
      padding: 10px; /* Ajusta según tus necesidades para pantallas más pequeñas */
      box-sizing: border-box;
      height: 35rem;
      min-width: 390px;
    }
    .secPage{
        height: 70rem;
    }
    .container{
        grid-template-rows: 50rem 6rem 70rem 15rem;
        box-sizing: border-box;
        
    }
    .pie{
        min-width: 390px; ;
    }
  }

  @media screen and (max-width: 559px) {
    .seccion-resumen {
      width: 100%;
      padding: 10px; /* Ajusta según tus necesidades para pantallas más pequeñas */
      box-sizing: border-box;
      height: 45rem;
      min-width: 390px;
    }
    .secPage{
        height: 90rem;
    }
    .container{
        grid-template-rows: 50rem 6rem 90rem 15rem;
        box-sizing: border-box;
        
    }
    .pie{
        min-width: 390px; 
    }
    header .titulo{
        left: 20px;
    }
  }